/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

@import "bootstrap-sprockets";

.topnav{
  background: white;
  padding: 20px;
  margin: 10px;
padding-left: 30px;
}

p{
margin-left:10px;

}

h1 {
    color: white;
}

h2 {
  margin-top: 60px;
  color:white;
  align-items: center;
}

.banner {
    background: white;
}



.btn-banner {
    background-color: #7DB4D2;
    color:white;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 4px;
    margin: 0 15px;
}


.banner-cta {
    padding:20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}


body {
    font-family:  "Helvetica";
    font-size: 16px;
    line-height: 1.4;
    color: #333333;
    background-color: white;
      align-text: center;

    font-family: "Helvetica";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



.card {
  margin-top: 5px;
  flex: space-around;
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
